

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--foreground);
  --tt-cursor-color: var(--foreground);
  --tt-selection-color: #ACCEF7;
  --tt-bg-color: var(--background);

  .dark & {
    --tt-theme-text: var(--foreground);
    --tt-bg-color: var(--background);
    --tt-cursor-color: var(--foreground);
    --tt-selection-color: #528BFF;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: var(--tt-bg-color);
}



.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.content-wrapper {
  height: calc(100% - var(--tt-toolbar-height));
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tt-scrollbar-color);
    border-radius: 4px;
  }

  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

.tiptap-button-icon {
  color: var(--tt-theme-text);
  fill: var(--tt-theme-text);
}

.simple-editor-content {
  width: 100%;
}

.simple-editor-content .tiptap.ProseMirror {
  padding: 3rem 3rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror {
    padding: 1rem 1.5rem;
  }
}
