@import "tailwindcss";

:root {
  --background: #f5f5f5; /* Very light grey */
  --foreground: #0a0a0a; /* Very dark grey */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Very dark grey */
    --foreground: #f5f5f5; /* Very light grey */
  }
}

/* Define a color palette */
:root {
  --primary-color: #A5B4FC; /* Light blue */
  --secondary-color: #6366F1; /* Indigo */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.form-select:not([multiple]) {
  position: relative;
  /* Remove default browser appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select:not([multiple])::after {
  content: '';
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(-50%) rotate(45deg) !important;
  width: 8px !important;
  height: 8px !important;
  border: 2px solid #888 !important; /* Adjust color as needed */
  border-top: 0;
  border-left: 0;
  pointer-events: none !important; /* Allow clicks to pass through to the select */
}

.form-select:not([multiple]) {
  padding-right: 30px; /* Adjust padding to make space for the pseudo-element arrow */
}

nav {
  background-color: #fff;
  padding: 0 15px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s ease-in-out;
}

nav.active {
  width: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0; /* margin-left will be added when active */
  max-width: 0;
  transition: max-width 0.6s ease-in-out, margin-left 0.4s ease-in-out;
  overflow-x: hidden;
  white-space: nowrap; /* Prevent items from wrapping */
}

nav.active ul {
  max-width: 1000px; /* A large enough value to not restrict the menu */
  margin-left: 1rem; /* Adds space between the icon and the menu items */
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  transform: rotateY(360deg);
  opacity: 1;
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

/* --- Expanding Cards Section --- */
.expanding-cards-container {
  display: flex;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.expanding-panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: flex 700ms ease-in; /* For older browser compatibility */
}

.expanding-panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Added for better text readability */
}

.expanding-panel.active {
  flex: 5;
}

.expanding-panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
