@import "tailwindcss";

:root {
  --background: #f5f5f5; /* Very light grey */
  --foreground: #0a0a0a; /* Very dark grey */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Very dark grey */
    --foreground: #f5f5f5; /* Very light grey */
  }
}

/* Define a color palette */
:root {
  --primary-color: #A5B4FC; /* Light blue */
  --secondary-color: #6366F1; /* Indigo */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.form-select:not([multiple]) {
  position: relative;
  /* Remove default browser appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select:not([multiple])::after {
  content: '';
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(-50%) rotate(45deg) !important;
  width: 8px !important;
  height: 8px !important;
  border: 2px solid #888 !important; /* Adjust color as needed */
  border-top: 0;
  border-left: 0;
  pointer-events: none !important; /* Allow clicks to pass through to the select */
}

.form-select:not([multiple]) {
  padding-right: 30px; /* Adjust padding to make space for the pseudo-element arrow */
}

html.dark {
  background-color: blue !important;
}

